.toc-list {
    background: #f1f1f1;
    padding: 10px;
    line-height: 180%;
    position: fixed;
    right: 48px;
    top: 48px;
    max-width: 25%;
    min-width: 20%;
    border: 1px solid #aaaaaa;
    font-size: 10px;
}

.toc-list {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li
    {
        font-size: 10px;
        font-weight: normal;

        &:before {
            width: 20px;
            min-width: 20px;
            display: block;
            opacity: .5;
        }
    }

}
